/* Box Model Hack */
* {
	box-sizing: border-box;
	color: white;
	font-family: 'Degular Demo Black', sans-serif;
}

/* Clear fix hack */
.clearfix:after {
	content: '.';
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
	min-height: 100vh;
	height: 100vh;
	width: 100vw;
	background-color: black;
	margin: 0rem;
	overflow: hidden;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
}

/******************************************
/* LAYOUT
/*******************************************/
nav {
	display: flex;
	justify-content: center;
	align-items: center;
}
nav > ul {
	display: flex;
	gap: 4vmin;
	align-items: center;
	justify-content: center;
	padding: 0%;
	margin: 2rem;
}

nav > ul > li {
	font-size: x-large;
}

.image-track {
	display: flex;
	gap: 4vmin;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(0%, -50%);
	user-select: none; /* -- Prevents highlighting -- */
}

.image {
	width: 50vmin;
	height: 56vmin;
	object-fit: cover;
	object-position: 100% center;
}

.image-container {
	display: contents;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

.expanded {
	position: fixed;
	top: 50%;
	/*left: 50%;*/
	transform: translate(-50%, -50%);
	max-height: 100%;
	max-width: 100%;
	object-fit: cover;
	z-index: 9999;
	width: 100vw;
}

.fh {
	height: 100vh;
}

#test {
	background-image: url(../assets/JetpackCyberpunkPoster.jpg);
	background-position: center;
	background-repeat: no-repeat;
}
