/* Box Model Hack */
* {
	box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
	content: '.';
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
	height: 100vh;
	width: 100vw;
	background-color: black;
	margin: 0rem;
	overflow: hidden;
}

/******************************************
/* LAYOUT
/*******************************************/
#image-track > .image {
	width: 40vmin;
	height: 56vmin;
	object-fit: cover;
	object-position: center;
}

#image-track {
	display: flex;
	gap: 4vmin;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(0%, -50%);
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
