/* Box Model Hack */
* {
	box-sizing: border-box;
	color: white;
	font-family: 'Degular Demo Black', sans-serif;
}

/* Clear fix hack */
.clearfix:after {
	content: '.';
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
	min-height: 100vh;
	height: 100vh;
	width: 100vw;
	background-color: black;
	margin: 0rem;
	overflow: hidden;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
}

/******************************************
/* LAYOUT
/*******************************************/
nav {
	display: flex;
	justify-content: center;
	align-items: center;
	user-select: none;
}
nav > ul {
	display: flex;
	gap: 4vmin;
	align-items: center;
	justify-content: center;
	padding: 0%;
	margin: 2rem;
}

nav > ul > li {
	font-size: x-large;
}

.image-track {
	display: flex;
	align-items: center;
	gap: 4vmin;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(0%, -50%);
	user-select: none; /* -- Prevents highlighting -- */
}

.image {
	width: 30vmin;
	height: 45vmin;
	object-fit: cover;
	object-position: 100% center;
	filter: grayscale(100%);
}

.image:hover {
	filter: none;
}
/*
.image.expanded {
	height: 30vh;
	width: 50vw;
	position: absolute;
	top: 50%;
	left: 0%;
	transform: translate(-50%, -50%);
	z-index: 9999;
}*/

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

.expanded {
	/*position: fixed;*/
	/*top: 50%;*/
	/*left: 0;*/
	/*transform: translate(-50%, -50%);*/
	/*max-height: 100%;*/
	/*max-width: 100%;*/
	height: 100vh;
	object-fit: cover;
	z-index: 9999;
	width: 100vw;
}
.image-expanded {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 999;
	max-width: 100vw;
	max-height: 100vh;
}
.fh {
	height: 100vh;
}

#test {
	background-image: url(../assets/JetpackCyberpunkPoster.jpg);
	background-position: center;
	background-repeat: no-repeat;
}
